<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About Me</title>
    </head>
    
    <body style="background-color: whitesmoke">
        <div style="font-family: monospace; text-align: center; margin-top: 40px;">

            <div>
                <h1 style="font-size: 48px;">About Me</h1>

                <p style="font-size: 24px;">Hello! My name is William Demczyk. I separated from the Army November,<br> 2022 after serving three years; nine months out of those being on rotation in 
                    South Korea,<br> and I now reside in Dayton, Ohio. I enjoy gaming and working out, and playing with my English Mastiff, Athena.<br>
                    I'm currently taking online classes for Web Development, and I'm excited for my new career.</p>

                <p style="font-size: 24px;"><a href="https://github.com/pleplu/my-portfolio">My Portfolio</a></p>

                <div style="font-size: 24px;">
                    <a href="{%url 'recipes:list' %}">Return</a>
                </div>

            </div>
        </div>
    </body>
</html>