<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <title>Recipe Details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css"> 
    </head>

    <body style="background-color: whitesmoke">
        <div style="font-family: monospace; text-align: center; font-size: 24px; margin-top: 40px;">
            <h2>{{object.name}}</h2>
        
            <b>Ingredients: </b> {{object.ingredients}} <br>
        
            <b>Cooking Time (min): </b> {{object.cooking_time}} <br>
        
            <b>Difficulty: </b> {{object.calculate_difficulty}} <br><br>
        
            <img src="{{object.pic.url}}" width="256" height="256" border="2" />
            <br><br>
            <a href="{%url 'recipes:list' %}">Back</a>
        </div>
    </body>
</html>