<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Recipe App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css"> 
        <script src="{% static 'recipes/home.js' %}" defer></script>
    </head>

    <body style="background-color: whitesmoke">
        <div style="text-align: center; margin-top: 40px; font-family: monospace;">
            <h1 style="font-size: 48px; margin-bottom: 15px; text-decoration: underline;">Welcome to my Recipe App</h1>
            <a style="font-size: 24px;" href ="{%url 'login' %}">Login</a>
            <br>
            <br>
            <img style="margin-top: 10px;" src="{% static 'recipes/images/tea.webp' %}" alt="home" width="900" height="600" border="2">
        </div>
    </body>
</html>