<!DOCTYPE html>
<html>
    <head>
        <title>Recipe App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css"> 
    </head>

    <body style="background-color: whitesmoke;">
        <div style="font-family: monospace; text-align: center; font-size: 24px;">
            <h1>Login</h1>   

            {% if error_message %}
            {{error_message}}
            {% endif %}

            <form action="" method="POST" >
            {% csrf_token %}   
            {{form}}           

            <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>