<!DOCTYPE html>
<html>
    <head>
        <title>RecipeLogout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css"> 
        {% load static %}
    </head>

    <body style="background-color: whitesmoke;">
        <div style="font-family: monospace; text-align: center; margin-top: 40px;">
            <h1 style="font-size: 48px; margin-bottom: 10px;">Successfully Logged Out!</h1>
            <br>
            <a style="font-size: 24px;" href="{%url 'login' %}">Login</a>
            <br><br>
            <a style="font-size: 24px;" href="{%url 'recipes:home' %}">Home</a>
        </div>
    </body>
</html>